<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>
	<div th:replace="snippets.html :: pos_app_messages"></div>
	<nav th:replace="snippets.html :: name_app_navbar"></nav>
<main>
	<div class="container">

		<h3>Brands</h3>
		<div class="row">
			<div class="col-8 align-items-right">
					<button type="button" class="btn btn-primary" id="add-data">+&nbsp;Add</button>
					&nbsp;
					&nbsp;
					<button type="button" class="btn btn-primary" id="upload-data">Upload</button>
			</div>
		</div>

		<div class="card d-flex w-75">
			<div th:replace="snippets.html :: card_header"></div>
			<div class="card-body">
			<table class="table table-striped" id="brand-table">
				<thead>
					<tr>
						<th scope="col">SNo.</th>
						<th scope="col">Brand</th>
						<th scope="col">Category</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody id="brand-table-body">
				</tbody>
			</table>
		</div>
		<div th:replace="snippets.html :: card_footer">
		</div>
	</div>

	<!-- Brand Add Modal -->
	<div class="modal" tabindex="-1" role="dialog" id="add-brand-modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Brand</h5>
					<button type="button" class="close" data-mdb-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-inline" id="brand-form">
						<div class="form-group">
							<label for="inputBrandName" class="col-sm-2 col-form-label">Brand</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="brand" id="inputBrandName"
									placeholder="Enter brand">
							</div>
						</div>
						<div class="form-group">
							<label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="category" id="inputCategory"
									placeholder="Enter category">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel1">Cancel</button>
					<button type="button" class="btn btn-primary" id="add-brand">Add</button>
				</div>
			</div>
		</div>
	</div>

		<!-- Brand Edit Modal -->
		<div class="modal" tabindex="-1" role="dialog" id="edit-brand-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Brand</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form class="form-inline" id="brand-edit-form">
							<div class="form-group">
								<label for="inputBrandName" class="col-sm-2 col-form-label">Brand</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="brand" placeholder="Enter brand">
								</div>
							</div>
							<div class="form-group">
								<label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="category"
										placeholder="Enter category">
								</div>
							</div>
							<input type="hidden" name="id">
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" id="update-brand">Update</button>
					</div>
				</div>
			</div>
		</div>


		<!-- Brand Edit Modal -->
		<div class="modal" tabindex="-1" role="dialog" id="upload-brand-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title">Upload Brand details</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<div class="brand-file">
							<input type="file" class="custom-file-input" id="brandFile">
							<label class="custom-file-label" for="brandFile" id="brandFileName">Choose file</label>
						</div>
						<a th:href="@{/sample/brand.tsv}" target="_blank">Download Sample</a>
						<br>
						Rows: <span id="rowCount">0</span>,
						Processed: <span id="processCount">0</span>,
						Errors: <span id="errorCount">0</span>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" id="process-data">Upload</button>
						<button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- Container end-->
</main>
	<footer th:replace="snippets.html :: name_footer"></footer>
	<script th:src="@{/static/brand.js}"></script>
</body>

</html>