<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

	<header th:replace="snippets.html :: name_app_navbar"></header>
	<main>
		<div class="container">
			<!-- Blank Row -->
			<div class="row">
				&nbsp;
			</div>
			<!-- Blank Row -->
			<div class="row">
				&nbsp;
			</div>

			<h3>Daily Sales Report</h3>
			<!-- Top row -->
			<div class="row">
				<div class="col-8 align-items-right">
					<!-- <button type="button" class="btn btn-primary" id="filter-data">Filter</button>
					&nbsp; -->
					<!-- &nbsp; -->
					<button type="button" class="btn btn-primary" id="download-data">Download</button>
				</div>
			</div>
			<!-- Blank Row -->
			<div class="row">
				&nbsp;
			</div>
			<div class="row">
				<div class="col-6">
					<h4>Start Date:
						<span id="start-date"></span>
					</h4>
				</div>
				<div class="col-6">
					<h4>End Date:
						<span id="end-date"></span>
					</h4>
				</div>
			</div>
			<!-- Blank Row -->
			<div class="row">
				&nbsp;
			</div>
			<div class="card d-flex w-100">
				<div th:replace="snippets.html :: card_header"></div>
				<div class="card-body">
					<table class="table table-striped" id="scheduler-report-table-all">
						<thead>
							<tr>
								<th scope="col">Date</th>
								<th scope="col">Invoiced Orders Count</th>
								<th scope="col">Invoiced Items Count</th>
								<th scope="col">Total Revenue</th>
							</tr>
						</thead>
						<tbody id="scheduler-report-table-all-body">
						</tbody>
					</table>
				</div>
				<!-- <div th:replace="snippets.html :: card_footer">
				</div> -->
			</div>
			<!-- Top row with form
			<div class="row">
				<div class="col-12">
					<h4>Filter Sales Reports By: </h4>
					<form class="form-inline" id="sales-report-form">
						<div class="form-group">
							<label for="inputStartDate" class="col-sm-2 col-form-label">Start Date</label>
							<div class="col-lg-6">
								<input type="datetime-local" class="form-control" name="startDate" id="inputStartDate">
							</div>
						</div>

						<div class="form-group">
							<label for="inputEndDate" class="col-sm-2 col-form-label">End Date</label>
							<div class="col-lg-6">
								<input type="datetime-local" class="form-control" name="endDate" id="inputEndDate">
							</div>
						</div>
						<button type="button" class="btn btn-primary" id="process-data">Apply</button>
						&nbsp;
						<button type="reset" class="btn btn-danger" id="reset-data">Reset</button>
						&nbsp;
						<button type="button" class="btn btn-success" id="refresh-data">Refresh</button>
						&nbsp;
						<button type="button" class="btn btn-success" id="download-data">Download</button>
					</form>
				</div>
			</div> -->
			
		</div> <!-- Container end-->
	</main>
	<footer th:replace="snippets.html :: name_footer"></footer>
	<script th:src="@{/static/dailysalesreport.js}"></script>
	<script>
		$(document).ready(function(){
			$('#scheduler-report-table-all').DataTable();
		})
	</script>
</body>

</html>