<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head">
</head>


<body>

	<header th:replace="snippets.html :: name_app_navbar"></header>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-8 align-items-right">
					<a role="button" class="btn btn-secondary" onclick="history.back()">&#60;Back</a>
				</div>	
			</div> 

			<h3>Ordered Items</h3>

			<!-- Blank Row -->
			<div class="row">
				&nbsp;
			</div>

			<div class="card d-flex w-100">
				<div th:replace="snippets.html :: card_header"></div>
				<div class="card-body">
					<table class="table table-striped" id="order-items-table">
						<thead>
							<tr id="order-items-table-head">
								<th scope="col">SNo.</th>
								<th scope="col">Barcode</th>
								<th scope="col">Product Name</th>
								<th scope="col">Quantity</th>
								<th scope="col">Selling Price</th>
								<th scope="col">MRP</th>
							</tr>
						</thead>
						<tbody id="order-items-table-body">
						</tbody>
					</table>
				</div>
				<div th:replace="snippets.html :: card_footer">
				</div>
			</div>

			<!-- Order Item Edit Modal -->
			<div class="modal fade" tabindex="-1" role="dialog" id="edit-order-item-modal">
				<div class="modal-dialog mw-100 w-25" role="document">
					<div class="modal-content container">
						<div class="modal-header">
							<h5 class="modal-title">Edit Order Item</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cancel1">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form class="row g-3 needs-validation" id="edit-order-item-form">
								<div class="col-md-12">
									<label for="inputBarcode" class="form-label">Barcode</label>
										<input type="text" class="form-control" id="inputBarcode" name="barcode"
											placeholder="Enter barcode">
								</div>
								<div class="col-md-12">
									<label for="inputQuantity" class="form-label">Quantity</label>
										<input type="number" class="form-control" name="quantity"
											placeholder="Enter quantity">
											<div class="valid-feedback" id="eqvf"></div>
											<div class="invalid-feedback" id="eqif"></div>
								</div>
								<div class="col-md-12">
									<label for="inputSellingPrice" class="form-label">Selling Price</label>
										<input type="text" class="form-control decimal-number" name="sellingPrice"
											placeholder="Enter selling price">
										<div class="valid-feedback" id="espvf"></div>
										<div class="invalid-feedback" id="espif"></div>
								</div>
								<input type="hidden" name="id">
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel2">Cancel</button>
							<button type="button" class="btn btn-primary" id="update-order-item">Update</button>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- Container end-->
	</main>
	<footer th:replace="snippets.html :: name_footer"></footer>
	<script th:src="@{/static/orderitems.js}"></script>

</body>

</html>