<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>
<div th:replace="snippets.html :: pos_app_messages"></div>
<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

	<h3>Orders</h3>
	<br>
	<div class="row" th:replace="snippets.html :: pos_app_select_page_size">
	</div>
	<div class="row" th:replace="snippets.html :: pos_app_selected_rows">
	</div>
	<!-- Top row -->
	<div class="row">
		<div class="col-12">
			<!-- <a th:href="@{/ui/order-placing}" target="_self"class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Place Order</a>
			 -->
			 <button type="button" class="btn btn-primary" id="place-order">Place Order</button>
		</div>	
	</div> 
	<br>
	<br>

	<div class="row">

	<!-- Table -->
	<div class="col-12">
		<table class="table table-striped" id="order-table">
		<thead>
			<tr>
			<th scope="col">SNo.</th>
			<th scope="col">Order id</th>
			<th scope="col">Date & Time</th>
			<th scope="col">Total Amount</th>
			<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody id="order-table-body">
		</tbody>
		</table>

	</div>
	</div>


<!--Place Order Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="place-order-modal">
	<div class="modal-dialog mw-100 w-75" role="document" style="height: auto; overflow: auto;">
	  <div class="modal-content container">
		<div class="modal-header">
		  <h5 class="modal-title">Place Order</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close" id = "cancel1">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			  <form class="needs-validation" id="place-order-form" novalidate>
				<div class="form-group">
					<label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="barcode" placeholder="Enter barcode" required>
						<div class="valid-feedback">
							Looks good!
						</div>
						<div class="invalid-feedback" style="display: block;">
							Please enter barcode
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
					<div class="col-sm-6">
						<input type="number" class="form-control" name="quantity" placeholder="Enter Quantity" required>
					</div>
				</div>

				<div class="row">
				<div class="form-group">
					<label for="inputSellingPrice" class="col-sm-2 col-form-label">Selling Price</label>
					<div class="col-sm-6">
					  <input type="text" class="form-control decimal-number" name="sellingPrice" placeholder="Enter Selling Price" required>
					</div>
				</div>
					<div class="form-group">
					<div class="col-sm-6">
						<button type="button" class="btn btn-primary" id="add-item" disabled>+&nbsp;Add&nbsp;Item</button>
					</div>
					</div>
				</div>
			  </form>
			<div style="height: 200px; overflow-y: auto;">
				<table class="table">
					<thead>
					<tr>
						<th scope="col">SNo</th>
						<th scope="col">Barcode</th>
						<th scope="col">Product Name</th>
						<th scope="col">Quantity</th>
						<th scope="col">Selling Price</th>
						<th scope="col">Total</th>
						<th scope="col">Actions</th>
					</tr>
					</thead>
					<tbody id="added-items">
					</tbody>
				</table>		  
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal" id = "cancel2">Cancel</button>
		  <button type="button" class="btn btn-primary" id="place-order-confirm">Place Order</button>
		</div>
	  </div>
	</div>
  </div>
<!-- Added Item Edit Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="edit-added-item-modal">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Edit Order Item</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cancel3">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form class="form-inline" id="edit-added-item-form">
			  <div class="form-group">
				  <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
				  <div class="col-lg-12">
					<input type="text" class="form-control" id="inputBarcode" name="barcode" placeholder="Enter barcode">
				  </div>
				</div>
				<div class="form-group">
				  <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
				  <div class="col-lg-12">
					<input type="number" class="form-control" name="quantity" placeholder="Enter quantity">
				  </div>
				</div>
				<div class="form-group">
					<label for="inputSellingPrice" class="col-sm-2 col-form-label">Selling Price</label>
					<div class="col-lg-12">
					  <input type="text" class="form-control decimal-number" name="sellingPrice" placeholder="Enter selling price">
					</div>
				</div>
			  <input type="hidden" name="i">
		  </form>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel4">Cancel</button>
		  <button type="button" class="btn btn-primary" id="update-added-item" disabled>Update</button>
		</div>
	  </div>
	</div>
  </div>
</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/orders.js}"></script>

</body>	

</html>