<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>
<div th:replace="snippets.html :: pos_app_messages"></div>
<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3>Scheduler</h3>
&nbsp;
&nbsp;
&nbsp;
<button type="button" id="download-data" class="btn btn-success">Download</button>

<!-- <div class="row" th:replace="snippets.html :: pos_app_select_page_size">
</div>
<div class="row" th:replace="snippets.html :: pos_app_selected_rows">
</div> -->

<!-- Top row with form-->
<!-- <div class="row">
	<div class="col-12">
		<h4>Filter Sales Reports By: </h4>
		   <form class="form-inline" id="sales-report-form">
			<div class="form-group">
				<label for="inputStartDate" class="col-sm-2 col-form-label">Start Date</label>
				<div class="col-lg-6">
				  <input type="datetime-local" class="form-control" name="startDate" id="inputStartDate">
			</div>
			</div>
			
			<div class="form-group">
				<label for="inputEndDate" class="col-sm-2 col-form-label">End Date</label>
				<div class="col-lg-6">
				  <input type="datetime-local" class="form-control" name="endDate" id="inputEndDate">
			</div>
			</div>
			 <div class="form-group">
			   <label for="inputBrandName" class="col-sm-2 col-form-label">Brand name</label>
			   <div class="col-lg-6">
				 <input type="text" class="form-control" name="brand" id="inputBrandName" placeholder="enter brand name">
			   </div>
			 </div>
			 <div class="form-group">
			   <label for="inputCategory" class="col-sm-2 col-form-label">Brand Category</label>
			   <div class="col-lg-6">
				 <input type="text" class="form-control" name="category" id="inputCategory" placeholder="enter brand category">
			   </div>
			 </div>
			 <button type="button" class="btn btn-primary" id="process-data">Apply</button>
			 &nbsp;
			 <button type="reset" class="btn btn-danger" id="reset-data">Reset</button>
			 &nbsp;
			 <button type="button" class="btn btn-success" id="refresh-data">Refresh</button>
			 &nbsp;
			 <button type="button" class="btn btn-success" id="download-data">Download</button>
		   </form>
	</div>	
</div> -->


<!-- <div class="row">
	<div class="col-6">
		<h4>Start Date: 
			<span id="start-date"></span>
		</h4>
	</div>
	<div class="col-6">
		<h4>End Date: 
			<span id="end-date"></span>
		</h4>
	</div>
</div> -->

<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-striped" id="scheduler-report-table-all">
	  <thead>
	    <tr>
	      <th scope="col">Date</th>
	      <th scope="col">Invoiced Orders Count</th>
		  <th scope="col">Invoiced Items Count</th>
		  <th scope="col">Total Revenue</th>
	    </tr>
	  </thead>
	  <tbody id="scheduler-report-table-all-body">
	  </tbody>
	</table>
 </div>
</div>



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/scheduler.js}"></script>

</body>	

</html>